extends layout
block content
    each post in posts
        h3 #{post.title}
        p #{post.description.substring(0,100)}
        a(href='/post/'+post.id, class='btn btn-primary') more
        hr.mb-5